body {
	background: #eeeeee;
}

.wrapper {
	overflow: hidden;
	font-family: 'Myriad Pro', Verdana, Arial, Tahoma;
	color: #333;
}

.wrapper header {
	display: block;
	padding: 1.5rem 0 1rem 0;
}

#name {
	display: block;
	background-size: 4rem 4rem;
	width: 64px;
	border-radius:25px;
	margin: 0 auto;
	height: 4rem;
}

#name img {
	width: 64px;
}

#name h1, #name h2 {
	display: none;
}

#content {
	overflow: hidden;
}

.post {
	margin: 0 auto;
	padding-top: 45px;
	max-width: 800px;
	width: 90%;
	padding-bottom: 65px;
}

.tear {
	background: url('/img/tear.png') repeat-x bottom;
	height: 54px;
}

.tear-alternate {
	background: url('/img/tear-alternate.png') repeat-x bottom;
	height: 54px;
}

.alternate {
	background: #e4e4e4;
}

.post h3 {
	font-size: 66px;
	font-family: 'Helvetica Neue', Helvetica, pragmatica-web, Arial, sans-serif;
	line-height: 1.25;
	font-weight: bold;
	margin-bottom: 65px;
	background-color: black;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-align: center;
}

.post h3 a {
	text-decoration: none;
	color: inherit;
}

.post h3 a:hover {
	text-decoration: underline;
}

.post .description {
	line-height: 1.5;
	font-size: 26px;
	font-family: ff-meta-serif-web-pro, Georgia, Times, 'Times New Roman', serif;
}

.post .description p {
	margin-bottom: 1rem;
}

.post .post-footer {
		margin-top: 16px;
}

.post .post-footer iframe {
	float: left;
}

.post .date {
	color: #BBB;
	font-size: 0.9rem;
	line-height: 1.5;
	font-style: italic;
	margin-right: 10px;
	float: left;
}

.post img {
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 2.13rem;
	margin-top: 2.13rem;
}

a {
	color: rgb(0, 119, 153);
}

code {
	font-size: 16px;
	line-height: 1.4em;
	word-wrap: break-word;
	font-family: Monaco, 'Lucida Console', monospace;
	display: block;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

pre	{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border-left: 2px #1C3FFD solid;
	padding-left: 10px;
	
}

ul {
	padding-left: 10px;
	margin: 10px;
	list-style: disc;
}

#disqus_thread {
	margin-top: 70px;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
	#name {
		width: 128px;
		margin-bottom: 20px;
	}
	#name img {
		width: 128px;
}