body {
	background: #eeeeee;
}

.wrapper {
	overflow: hidden;
	font-family: 'Myriad Pro', Verdana, Arial, Tahoma;
	color: #333;
}

.wrapper header {
	display: block;
	padding: 1.5rem 0 1rem 0;
	margin: 0 auto;
	max-width: 760px;
}

#name {
	display: block;
	background-size: 4rem 4rem;
	width: 64px;
	border-radius:25px;
	height: 4rem;
	float: left;
}

#name img {
	width: 64px;
}

#name h1, #name h2 {
	display: none;
}

#social {
	float: right;
	margin-top: 18px;
}

#social a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-indent: -9999px;
	margin-right: 15px;
	width: 28px;
	height: 28px;
}

#social a:hover {
	cursor: pointer;
}

#social a.twitter {
	background: url('../img/twitter.png') center no-repeat;
	background-color: #70cdf5;
	border: 1px solid #70cdf5;
}

#social a.github {
	background: url('../img/github.png') center no-repeat #AFB6CA;
	border: 1px solid #AFB6CA;
}

#social a.rss {
	background: url('../img/rss.png') center no-repeat #EF7522;
	border: 1px solid #EF7522;
}

h2 {
	margin-top: 1.5rem;
}

#content {
	overflow: hidden;
}

.post {
	margin: 0 auto;
	padding-top: 45px;
	max-width: 800px;
	width: 90%;
	padding-bottom: 65px;
}

/*.tear {
	background: url('/img/tear.jpg') repeat-x bottom;
	height: 54px;
}

.tear-alternate {
	background: url('/img/tear-alternate.png') repeat-x bottom;
	height: 54px;
}*/

.alternate {
	background: #e4e4e4;
}

.post h3 {
	font-size: 44px;
	font-family: 'Helvetica Neue', Helvetica, pragmatica-web, Arial, sans-serif;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 44px;
	/*background-color: black;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);*/
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	text-align: center;
}

/*@media (max-width: 1000px) and (min-width: 500px) {
	.post h3 {
		font-size: 50px;
		line-height: 57px;
		margin-bottom: 45px;
	}
}

@media (max-width: 500px) and (min-width: 0) {
	.post h3 {
		font-size: 31px;
		line-height: 35px;
		margin: 5px 0 30px;
	}
}*/

.post h3 a {
	text-decoration: none;
	color: inherit;
}

.post h3 a:hover {
	text-decoration: none;
}

.post .description {
	line-height: 1.5;
	font-size: 18px;
	font-family: ff-meta-serif-web-pro, Georgia, Times, 'Times New Roman', serif;
}

.post .description p {
	margin-bottom: 1rem;
}

/*@media (max-width: 1000px) and (min-width: 500px) {
	.post .description p {
		font-size: 23px;
		line-height: 34px;
		margin-bottom: 40px;
	}
}

@media (max-width: 500px) and (min-width: 0px) {
	.post .description p {
		font-size: 19px;
		line-height: 29px;
		margin-bottom: 30px;
	}
}*/

.post .post-footer {
		margin-top: 16px;
}

.post .post-footer iframe {
	float: left;
}

.post .date {
	color: #BBB;
	font-size: 0.9rem;
	line-height: 1.5;
	font-style: italic;
	margin-right: 10px;
	float: left;
}

.post img {
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

a {
	color: rgb(0, 119, 153);
}

code {
	font-size: 16px;
	line-height: 1.4em;
	word-wrap: break-word;
	font-family: Monaco, 'Lucida Console', monospace;
	display: block;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

pre	{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-left: 2px #1C3FFD solid;
	padding-left: 10px;
	
}

ul {
	padding-left: 10px;
	margin: 10px;
	list-style: disc;
}

#disqus_thread {
	margin-top: 70px;
}

.twitter-follow-button {
	position: fixed;
	top:8px;
	right: 8px;
}


