---
layout: layout
---

<div class="posts">
	<div id="post-block"> 
    	
    	{% for post in paginator.posts %}
      		<article class="post-191 post type-post status-publish format-standard hentry category-photography category-technology tag-apple tag-iphone-5 post"> 
  
	  			{% if post.image %}
	    			<a class="featured-image grayscale" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
	      				<img width="1400" height="600" src="/images/posts/{{ post.image }}" class="attachment-large-image wp-post-image" alt="iphone2" />
	    			</a>
	  			{% endif %}

				<div class="box-wrap">
	  				<div class="box"> 
	    				<header class="post-header">
	      					<div class="date-title">{{ post.date | date: "%e %B, %Y" }}</div>
	      					<h2 class="entry-title">
	          					<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	      					</h2> 
	    				</header>
				      	<div class="post-content">
	        				{{ post.excerpt }}
	      				</div>
	      				<p> 
	        				<a href="{{ site.url }}{{ post.url }}" class="more-link">- Read More -</a>
	      				</p>
	  				</div>
				</div> 
	      	</article>
    	{% endfor %}

  	</div>
</div>

<div id="infinite-handle">
	{% if paginator.next_page %}
		<a class="prev" href="/page{{paginator.next_page}}" style="float:left;">Older Posts</a>
	{% endif %}
	{% if paginator.previous_page %}
		<a class="next" href="/page{{paginator.previous_page}}" style="float:right;">Newer Posts</a>
	{% endif %}
</div>