<!doctype html>
<html>
	<head>
		<title>Mat McLoughlin</title>
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" media="all" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/main.css" />
		<!-- <link rel="stylesheet" type="text/css" media="all" href="/css/pygments.css" /> -->
		<link rel="stylesheet" type="text/css" media="all" href="/css/railscasts.css" />
		<link rel="alternate" type="application/rss+xml" title="Mat Mcloughlin" href="http://mat-mcloughlin.github.io/rss.xml" />
	</head>
	<body>
		<div id="container">
			<div id="left-column">
			    <div class="inner">
			        <div id="avatar">
			            <img src="/img/avatar.png">
			        </div>
			        <h2>Mathew McLoughlin</h2>
			        <p>.Net developer and lover of javascript. I enjoy climbing and surfing (in cold water). Powered by Beard.<br/>Leeds, UK</p>
			        <div class="clear:both;"></div>
			        <div id="social">
			            <a class="twitter" href="http://twitter.com/mat_mcloughlin"></a>
			            <a class="github" href="https://github.com/mat-mcloughlin"></a>
			            <a class="rss" href="/rss.xml"></a>
			        </div>
			        <h3>Recent Posts</h3>
			        <ul>
			        	{% for post in site.posts offset: 0 limit: 4 %}
				            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
				        {% endfor %}
			        </ul>
			    </div>
			</div>
			<div id="main-content">
			    <div class="inner">
			    	{{ content }}
			   	</div>
			</div>
		</div>





<!-- 		<div class="wrapper">
			<header>
				<a href="/"> 
		    	<div id="name">
					<img src="/img/avatar.png" />
		      		<h1>Mathew</h1> 
		    	</div>
		    	<div id="social">
		    		<a class="twitter" href="http://twitter.com/mat_mcloughlin"></a>
		    		<a class="github" href="https://github.com/mat-mcloughlin"></a>
		    		<a class="rss" href="/rss.xml"></a>
		    	</div>	
		  	</a>
			</header>
			<div style="clear: both;"</div>
			<div id="content">
				{{ content }}
			</div>
		</div> -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1746767-6']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>